<div class="wrap">
  <section class="hero">
    <h2 class="">Job site</h2>
    <p class="mat-subtitle-2">Find your dream job</p>
    <a [routerLink]="['/login']" mat-raised-button color="primary"
      >Get started</a
    >
  </section>

  <ul>
    <li>
      <h3 class="mat-subtitle-1">Create Jobs</h3>
      <p>As employer you can create, update and remove your job postings!</p>
      <p>You can also see who applied for your jobs</p>
    </li>

    <li>
      <h3 class="mat-subtitle-1">Find jobs</h3>
      <p>As employee you apply for jobs, see what employers have posted!</p>
    </li>

    <li>
      <h3 class="mat-subtitle-1">Tired of your role?</h3>
      <p>You can change between employer and employee at any time!</p>
    </li>
  </ul>
</div>
