<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Account settings</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="auth.user$ | async as user; else loading">
      <p>Username: {{ user.username }}</p>
      <p>Status: {{ user.isEmployer ? "emplyer" : "employee" }}</p>
      <p>Email: {{ user.email }}</p>
    </div>

    <ng-template #loading>Loading...</ng-template>

    <form class="form" [formGroup]="form" (submit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username" />
        <!-- <mat-error *ngIf="form.controls.email.errors"
          >{{ getError(form.controls.email) }}
        </mat-error> -->
      </mat-form-field>

      <!-- <ng-container *ngIf="!isLogin">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="form.controls.email.errors"
            >{{ getError(form.controls.username) }}
          </mat-error>
        </mat-form-field>
      </ng-container> -->

      <ng-container *ngIf="true">
        <div class="radio-container">
          <label>Are you an employer? </label>
          <mat-radio-group formControlName="isEmployer">
            <mat-radio-button value="false">No</mat-radio-button>
            <mat-radio-button value="true">Yes</mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>

      <div class="bottom-row">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!form.valid"
          color="primary"
        >
          Change
        </button>
      </div>
    </form>
    {{ form.value | json }}
  </mat-card-content>
</mat-card>
