<mat-card class="card card-form">
  <mat-card-header>
    <mat-card-title>Account settings</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="auth.user$ | async as user; else loading">
      <p class="mat-subtitle-1">Username: {{ user.username }}</p>
      <p class="mat-subtitle-1">
        Status: {{ user.isEmployer ? "employer" : "employee" }}
      </p>
      <p class="mat-subtitle-1">Email: {{ user.email }}</p>
    </div>

    <ng-template #loading>
      <mat-spinner class="loading-margin"></mat-spinner
    ></ng-template>
    <p class="mat-headline-6">Edit your account:</p>

    <form class="form" [formGroup]="form" (submit)="saveChanges()">
      <mat-form-field>
        <mat-label class="mat-subtitle-1">Username</mat-label>
        <input matInput type="email" formControlName="username" />
        <mat-error *ngIf="form.controls.username.errors"
          >{{ getError(form.controls.username) }}
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="true">
        <div class="radio-container">
          <label class="mat-subtitle-1">Are you an employer? </label>
          <mat-radio-group formControlName="isEmployer">
            <mat-radio-button value="false">No</mat-radio-button>
            <mat-radio-button value="true">Yes</mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>

      <div class="button-row">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!form.valid"
          color="primary"
        >
          Save changes
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
