table {
  width: 100%;
}

.margin-right {
  margin-right: 1rem;
}
mat-card {
  margin: 1rem;
  // overflow: hidden;
  min-height: 100vh;
  mat-card-title {
    margin-bottom: 1rem;
  }
  mat-spinner {
    margin: 1rem auto 2rem;
  }
  table {
    border-bottom: 1px solid #e0e0e0;
    min-width: max-content;
    td {
      max-width: 33vw;
    }
    tr {
      :last-child {
        max-width: unset;
      }
    }
  }
  .wrap {
    overflow-x: auto;
  }
}
