<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title
      >{{ isEmployer ? "Employer" : "Employee" }} login
    </mat-card-title>
    <mat-card-subtitle
      >Click
      <a [routerLink]="[!isEmployer ? '/employer-login' : 'employee-login']"
        >here</a
      >
      to login as
      {{ !isEmployer ? "employer" : "employee" }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" [formGroup]="form" (submit)="submit()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="example@mail.com"
        />
        <mat-error *ngIf="form.controls.email.errors"
          >{{ getError(form.controls.email) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          name="password"
          formControlName="password"
          [type]="passwordMode ? 'password' : 'text'"
          matInput
          placeholder="Strong password"
        />
        <mat-error *ngIf="form.controls.password.errors"
          >{{ getError(form.controls.password) }}
        </mat-error>
        <button
          matSuffix
          mat-icon-button
          aria-label="Toggle password visibility"
          (click)="togglePassword()"
        >
          <mat-icon>{{
            passwordMode ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="bottom-row">
        <button mat-raised-button type="submit" color="primary">Submit</button>
        <button mat-raised-button (click)="googleLogin()">
          <mat-icon> login </mat-icon>
          Google login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<!-- <mat-label>Enter your email</mat-label>
<input matInput placeholder="pat@example.com" [formControl]="email" required>
<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
