.example-card {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 500px;
}

mat-card-subtitle {
  margin-bottom: 0.5rem;
}
.radio-container {
  margin-bottom: 1rem;
}
.example-full-width {
  width: 100%;
}
.bottom-row {
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  margin-bottom: 0.5rem;
}
.mat-mdc-form-field-bottom-align {
  margin-top: 4px;
}
