<mat-card class="card card-form">
  <mat-card-header>
    <mat-card-title>{{ isLogin ? "Login" : "Register" }} </mat-card-title>
    <mat-card-subtitle class="mat-subtitle-1"
      >Click
      <a [routerLink]="[!isLogin ? '/login' : '/register']">here</a>
      to {{ !isLogin ? "login" : "register" }}.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="form" [formGroup]="form" (submit)="submit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="form.controls.email.errors"
          >{{ getError(form.controls.email) }}
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="!isLogin">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="form.controls.email.errors"
            >{{ getError(form.controls.username) }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          name="password"
          formControlName="password"
          [type]="passwordMode ? 'password' : 'text'"
          matInput
        />
        <mat-error *ngIf="form.controls.password.errors"
          >{{ getError(form.controls.password) }}
        </mat-error>
        <button
          matSuffix
          mat-icon-button
          type="button"
          aria-label="Toggle password visibility"
          (click)="togglePassword()"
        >
          <mat-icon>{{
            passwordMode ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <ng-container *ngIf="!isLogin">
        <div class="radio-container">
          <label class="mat-subtitle-1">Are you an employer? </label>
          <mat-radio-group formControlName="isEmployer">
            <mat-radio-button value="false">No</mat-radio-button>
            <mat-radio-button value="true">Yes</mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>

      <div class="button-row">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!form.valid"
          color="primary"
        >
          {{ isLogin ? "Login" : "Register" }}
        </button>

        <button mat-raised-button type="button" (click)="googleLogin()">
          <mat-icon> login </mat-icon>
          Google login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
