/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// form styles
.card {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width: 90vw;
  max-width: 500px;
}
.card-form {
  mat-card-title {
    margin-bottom: 1rem;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 0.25rem;
  }
  .radio-container {
    margin-bottom: 1rem;
  }
  .button-row {
    display: flex;
    justify-content: space-between;
  }
  .loading-margin {
    margin-bottom: 1rem;
  }
}
