button {
  font-size: 1.125rem;
}
h1 {
  padding: 0.25rem;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar-row {
  padding: 0 16px 0 12px;
}
.mat-1,
.mat-h2,
.mat-1 a {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;

  li {
    border-radius: 0.325rem;
    a {
      font-weight: 400;
      margin: 0.25rem;
    }
  }
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.mobile {
  display: flex;
}
.desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
